[submodule "gcc"]
	path = gcc
	url = https://github.com/mkilgore/protura-gcc
	branch = protura
[submodule "newlib"]
	path = newlib
	url = https://github.com/mkilgore/protura-newlib
	branch = newlib-2.3.0
[submodule "binutils"]
	path = binutils
	url = https://github.com/mkilgore/protura-binutils
	branch = protura
